@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: black;
  --secondary-color: white;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: white;
    --secondary-color: black;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
}

h1 {
  font-size: 3rem;
}
